# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# custom ignored files
LateX/images
LateX/images_old
dask-worker-space
LateX/full-text/Complex_Spread_Full.log
LateX/full-text/Complex_Spread_Full.toc


LateX/full-text/Scrbook
LateX/full-text/Old_Ver_To_Check/Complex_Spread_Full.aux
LateX/full-text/Complex_Spread_Full.bbl
LateX/full-text/Complex_Spread_Full.aux
LateX/full-text/Complex_Spread_Full.blg
LateX/full-text/Complex_Spread_Full.fls
LateX/full-text/Complex_Spread_Full.fdb_latexmk
LateX/full-text/Complex_Spread_Full.synctex.gz
LateX/full-text/Old_Ver_To_Check/Complex_Spread_Full.bbl
.gitignore
LateX/full-text/Old_Ver_To_Check/Complex_Spread_Full.blg
LateX/full-text/Old_Ver_To_Check/Complex_Spread_Full.out
LateX/full-text/Old_Ver_To_Check/Complex_Spread_Full.toc
LateX/full-text/Old_Ver_To_Check/Complex_Spread_Full.synctex.gz
CSSE_JHU/CSSEGISandData_1.7.csv
CSSE_JHU/owid-covid-data.csv
.vscode/launch.json
LateX/UsefulArticles/
AutoGen_Plots/complete_graph_sir.jpg
AutoGen_Plots/ER_Epid_Threshold.jpg
AutoGen_Plots/er_graph_sir.jpg
LateX/full-text/Old_Ver_To_Check/Complex_Full_23.6::13.out
LateX/full-text/Old_Ver_To_Check/Complex_Full_23.6::13.aux
.gitignore
LateX/full-text/Old_Ver_To_Check/Complex_Full_23.6::13.fdb_latexmk
LateX/full-text/Old_Ver_To_Check/Complex_Full_23.6::13.fls
.gitignore
.gitignore
LateX/full-text/Old_Ver_To_Check/Complex_Full_23.6::13.pdf
LateX/full-text/Old_Ver_To_Check/Complex_Full_23.6::13.synctex.gz
.gitignore
.gitignore
LateX/full-text/Title_page_Master_Physics.pdf
LateX/full-text/Title_page_Master_Physics.synctex.gz
LateX/full-text/Title_page_Master_Physics.tex
LateX/full-text/Old_Ver_To_Check/Complex_Full_23.6::13.toc
LateX/full-text/.vscode/settings.json
LateX/full-text/References
.gitignore
LateX/.vscode/settings.json
CSSE_JHU/COVID-RealStates.png
AutoGen_Plots/images/complete_graph_sir.png
AutoGen_Plots/images/D2_ws_graph_sir.png
AutoGen_Plots/images/D4_ws_graph_sir.png
AutoGen_Plots/images/D6_ws_graph_sir.png
AutoGen_Plots/images/er_graph_sir.png
LateX/full-text/TeX-Playground/playground.pdf
LateX/full-text/TeX-Playground/playground.synctex.gz
LateX/full-text/TeX-Playground/playground.tex
LateX/full-text/TeX-Playground/Title_page_Master_Physics.aux
LateX/full-text/TeX-Playground/Title_page_Master_Physics.fdb_latexmk
LateX/full-text/TeX-Playground/Title_page_Master_Physics.fls
LateX/full-text/TeX-Playground/Title_page_Master_Physics.pdf
LateX/full-text/TeX-Playground/Title_page_Master_Physics.synctex.gz
LateX/full-text/TeX-Playground/Title_page_Master_Physics.tex
LateX/full-text/TeX-Playground/
LateX/presentation/Pres_7.9/Plots/1.1_WS_Pruned/AdjMat_Pres/WS_Pruned_AdjMat_p_1.png
LateX/presentation/Pres_7.9/Plots/1.1_WS_Pruned/AdjMat_Pres/WS_Pruned_AdjMat_p_2.png
LateX/presentation/Pres_7.9/Plots/1.1_WS_Pruned/AdjMat_Pres/WS_Pruned_AdjMat_p_3.png
LateX/presentation/Pres_7.9/Plots/1.1_WS_Pruned/p0.0/WS_Pruned_SIR_p0_11.png
LateX/presentation/Pres_7.9/Plots/1.1_WS_Pruned/p0.0/WS_Pruned_SIR_p0_12.png
LateX/presentation/Pres_7.9/Plots/1.1_WS_Pruned/p0.0/WS_Pruned_SIR_p0_13.png
LateX/presentation/Pres_7.9/Plots/1.1_WS_Pruned/p0.0/WS_Pruned_SIR_p0_14.png
LateX/presentation/Pres_7.9/Plots/1.1_WS_Pruned/p0.1/WS_Pruned_SIR_p0.1_9.png
LateX/presentation/Pres_7.9/Plots/1.1_WS_Pruned/p0.1/WS_Pruned_SIR_p0.1_10.png
LateX/presentation/Pres_7.9/Plots/1.1_WS_Pruned/p0.1/WS_Pruned_SIR_p0.1_11.png
LateX/presentation/Pres_7.9/Plots/1.1_WS_Pruned/p0.1/WS_Pruned_SIR_p0.1_12.png
LateX/presentation/Pres_7.9/Plots/1.1_WS_Pruned/p0.1/WS_Pruned_SIR_p0.1_13.png
LateX/presentation/Pres_7.9/Plots/1.1_WS_Pruned/p0.1/WS_Pruned_SIR_p0.1_14.png
LateX/presentation/Pres_7.9/Plots/1.1_WS_Pruned/p0.2/WS_Pruned_SIR_p0.2_8.png
LateX/presentation/Pres_7.9/Plots/1.1_WS_Pruned/p0.2/WS_Pruned_SIR_p0.2_9.png
LateX/presentation/Pres_7.9/Plots/1.2_WS_Epids_19.5/Sel_AdjMat/WS_Epids_AdjMat_N1000_1.png
LateX/presentation/Pres_7.9/Plots/1.2_WS_Epids_19.5/Sel_AdjMat/WS_Epids_AdjMat_N1000_2.png
LateX/presentation/Pres_7.9/Plots/1.2_WS_Epids_19.5/Sel_AdjMat/WS_Epids_AdjMat_N1000_3.png
LateX/presentation/Pres_7.9/Plots/1.2_WS_Epids_19.5/Sel_AdjMat/WS_Epids_AdjMat_N1000_4.png
LateX/presentation/Pres_7.9/Plots/1.2_WS_Epids_19.5/Sel_AdjMat/WS_Epids_AdjMat_N1000_5.png
LateX/presentation/Pres_7.9/Plots/1.2_WS_Epids_19.5/Sel_AdjMat/WS_Epids_AdjMat_N1000_6.png
LateX/presentation/Pres_7.9/Plots/1.2_WS_Epids_19.5/Sel_SIR/WS_Epids_pvar_1.png
LateX/presentation/Pres_7.9/Plots/1.2_WS_Epids_19.5/Sel_SIR/WS_Epids_pvar_2.png
LateX/presentation/Pres_7.9/Plots/1.2_WS_Epids_19.5/Sel_SIR/WS_Epids_pvar_3.png
LateX/presentation/Pres_7.9/Plots/1.2_WS_Epids_19.5/Sel_SIR/WS_Epids_pvar_4.png
LateX/presentation/Pres_7.9/Plots/1.2_WS_Epids_19.5/Sel_SIR/WS_Epids_pvar_5.png
LateX/presentation/Pres_7.9/Plots/1.2_WS_Epids_19.5/Sel_SIR/WS_Epids_pvar_6.png
LateX/presentation/Pres_7.9/Plots/2_WS_Epids_zip(beta,mu)/p0.0/AdjMat/WS_PruneEnhanch_Adj_1.png
LateX/presentation/Pres_7.9/Plots/2_WS_Epids_zip(beta,mu)/p0.0/AdjMat/WS_PruneEnhanch_Adj_2.png
LateX/presentation/Pres_7.9/Plots/2_WS_Epids_zip(beta,mu)/p0.0/AdjMat/WS_PruneEnhanch_Adj_3.png
LateX/presentation/Pres_7.9/Plots/2_WS_Epids_zip(beta,mu)/p0.0/AdjMat/WS_PruneEnhanch_Adj_4.png
LateX/presentation/Pres_7.9/Plots/2_WS_Epids_zip(beta,mu)/p0.0/SIR/WS_Enhanc_SIR_p0-1_1.png
LateX/presentation/Pres_7.9/Plots/2_WS_Epids_zip(beta,mu)/p0.0/SIR/WS_Enhanc_SIR_p0-1_2.png
LateX/presentation/Pres_7.9/Plots/2_WS_Epids_zip(beta,mu)/p0.0/SIR/WS_Enhanc_SIR_p0-1_3.png
LateX/presentation/Pres_7.9/Plots/2_WS_Epids_zip(beta,mu)/p0.0/SIR/WS_Enhanc_SIR_p0-1_4.png
LateX/presentation/Pres_7.9/Plots/2_WS_Epids_zip(beta,mu)/p0.0/SIR/WS_Enhanc_SIR_p0-1_5.png
LateX/presentation/Pres_7.9/Plots/2_WS_Epids_zip(beta,mu)/p0.0/SIR/WS_Enhanc_SIR_p0-1_6.png
LateX/presentation/Pres_7.9/Plots/2_WS_Epids_zip(beta,mu)/p0.0/SIR/WS_Enhanc_SIR_p0-1_7.png
LateX/presentation/Pres_7.9/Plots/2_WS_Epids_zip(beta,mu)/p0.0/SIR/WS_Enhanc_SIR_p0-1_8.png
LateX/presentation/Pres_7.9/Plots/3.1_NNR_Conf_Model/AdjMat/NNR_AdjMat_D2-12-24-32_p0.0_1.png
LateX/presentation/Pres_7.9/Plots/3.1_NNR_Conf_Model/AdjMat/NNR_AdjMat_D2-12-24-32_p0.0_2.png
LateX/presentation/Pres_7.9/Plots/3.1_NNR_Conf_Model/AdjMat/NNR_AdjMat_D2-12-24-32_p0.0_3.png
LateX/presentation/Pres_7.9/Plots/3.1_NNR_Conf_Model/AdjMat/NNR_AdjMat_D2-12-24-32_p0.0_4.png
LateX/presentation/Pres_7.9/Plots/3.1_NNR_Conf_Model/SIR/NNR_R0_p0_1.png
LateX/presentation/Pres_7.9/Plots/3.1_NNR_Conf_Model/SIR/NNR_R0_p0_2.png
LateX/presentation/Pres_7.9/Plots/3.1_NNR_Conf_Model/SIR/NNR_R0_p0_3.png
LateX/presentation/Pres_7.9/Plots/3.1_NNR_Conf_Model/SIR/NNR_R0_p0_4.png
LateX/presentation/Pres_7.9/Plots/3.1_NNR_Conf_Model/SIR/NNR_R0_p0_5.png
LateX/presentation/Pres_7.9/Plots/3.1_NNR_Conf_Model/SIR/NNR_R0_p0_6.png
LateX/presentation/Pres_7.9/Plots/3.1_NNR_Conf_Model/SIR/NNR_R0_p0_7.png
LateX/presentation/Pres_7.9/Plots/3.1_NNR_Conf_Model/SIR/NNR_R0_p0_8.png
LateX/presentation/Pres_7.9/Plots/3.1_NNR_Conf_Model/SIR/NNR_R0_p0_9.png
LateX/presentation/Pres_7.9/Plots/3.1_NNR_Conf_Model/SIR/NNR_R0_p0_10.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/Sel_ordp/NNO_ordp_1.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/Sel_ordp/NNO_ordp_2.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/Sel_ordp/NNO_ordp_3.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/Sel_ordp/NNO_ordp_4.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/Sel_ordp/NNO_ordp_5.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/Sel_ordp/NNO_ordp_6.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/Sel_ordp/NNO_ordp_7.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/Sel_ordp/NNO_ordp_8.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/Sel_ordp/NNO_ordp_9.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.0/AdjMat/Overlapping_Rew_Add_True_AdjMat_N1000_D3.0_p0.0.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.0/AdjMat/Overlapping_Rew_Add_True_AdjMat_N1000_D5.0_p0.0.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.0/AdjMat/Overlapping_Rew_Add_True_AdjMat_N1000_D7.0_p0.0.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.0/AdjMat/Overlapping_Rew_Add_True_AdjMat_N1000_D10.0_p0.0.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.0/AdjMat/Overlapping_Rew_Add_True_AdjMat_N1000_D12.0_p0.0.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.0/AdjMat/Overlapping_Rew_Add_True_AdjMat_N1000_D14.0_p0.0.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.0/AdjMat/Overlapping_Rew_Add_True_AdjMat_N1000_D16.0_p0.0.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.0/AdjMat/Overlapping_Rew_Add_True_AdjMat_N1000_D18.0_p0.0.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.0/SIR/ONN_R0_0-2_p0.0_6.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.0/SIR/ONN_R0_0-2_p0.0_7.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.0/SIR/ONN_R0_0-2_p0.0_8.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.0/SIR/ONN_R0_0-2_p0.0_10.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.0/SIR/ONN_R0_0-2_p0.0_12.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.0/SIR/ONN_R0_0-2_p0.0_14.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.0/SIR/ONN_R0_2-3_p0.0_2.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.0/SIR/ONN_R0_2-3_p0.0_7.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.0/SIR/ONN_R0_3-5_p0.0_3.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.1/AdjMat/Overlapping_Rew_Add_True_AdjMat_N1000_D3.0_p0.1.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.1/AdjMat/Overlapping_Rew_Add_True_AdjMat_N1000_D5.0_p0.1.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.1/AdjMat/Overlapping_Rew_Add_True_AdjMat_N1000_D8.0_p0.1.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.1/AdjMat/Overlapping_Rew_Add_True_AdjMat_N1000_D10.0_p0.1.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.1/AdjMat/Overlapping_Rew_Add_True_AdjMat_N1000_D12.0_p0.1.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.1/AdjMat/Overlapping_Rew_Add_True_AdjMat_N1000_D14.0_p0.1.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.1/AdjMat/Overlapping_Rew_Add_True_AdjMat_N1000_D16.0_p0.1.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.1/AdjMat/Overlapping_Rew_Add_True_AdjMat_N1000_D18.0_p0.1.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.1/SIR/OON_p0.1_1.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.1/SIR/OON_p0.1_2.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.1/SIR/OON_p0.1_3.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.1/SIR/OON_p0.1_4.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.1/SIR/OON_p0.1_5.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.1/SIR/OON_p0.1_6.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.1/SIR/OON_p0.1_7.png
LateX/presentation/Pres_7.9/Plots/3.2_Overlapping_Rew_Add_True_13.5_done/p0.1/SIR/OON_p0.1_8.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0/AdjMat/Caveman_Model_AdjMat_N994_D6.0_p0.0.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0/AdjMat/Caveman_Model_AdjMat_N999_D3.0_p0.0.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0/AdjMat/Caveman_Model_AdjMat_N999_D8.0_p0.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0/AdjMat/Caveman_Model_AdjMat_N1000_D2.0_p0.0.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0/AdjMat/Caveman_Model_AdjMat_N1000_D4.0_p0.0.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0/SIR/CavemanMod_R0_0-4_p0_4.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0/SIR/CavemanMod_R0_0-4_p0_11.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0/SIR/CavemanMod_R0_4-10_p0_6.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0/SIR/CavemanMod_R0_4-10_p0_8.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0.1/AdjMat/Caveman_Model_AdjMat_N994_D6.0_p0.1.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0.1/AdjMat/Caveman_Model_AdjMat_N994_D7.0_p0.1.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0.1/AdjMat/Caveman_Model_AdjMat_N999_D3.0_p0.1.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0.1/AdjMat/Caveman_Model_AdjMat_N999_D8.0_p0.1.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0.1/AdjMat/Caveman_Model_AdjMat_N1000_D2.0_p0.1.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0.1/AdjMat/Caveman_Model_AdjMat_N1000_D5.0_p0.1.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0.1/SIR/Cmodp01_1.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0.1/SIR/Cmodp01_2.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0.1/SIR/Cmodp01_3.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0.1/SIR/Cmodp01_4.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0.1/SIR/Cmodp01_5.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0.1/SIR/Cmodp01_6.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0.1/SIR/Cmodp01_7.png
LateX/presentation/Pres_7.9/Plots/4_Caveman_Model_15.5_done/p0.1/SIR/Cmodp01_8.png
LateX/presentation/Pres_7.9/Plots/5_B-A_Model_16.5_done/p0.0/AdjMat/B-A_Model_AdjMat_N1000_D4.0_p0.0_m2_N0_2.png
LateX/presentation/Pres_7.9/Plots/5_B-A_Model_16.5_done/p0.0/AdjMat/B-A_Model_AdjMat_N1000_D8.0_p0.0_m4_N0_4.png
LateX/presentation/Pres_7.9/Plots/5_B-A_Model_16.5_done/p0.0/AdjMat/B-A_Model_AdjMat_N1000_D12.0_p0.0_m6_N0_6.png
LateX/presentation/Pres_7.9/Plots/5_B-A_Model_16.5_done/p0.0/AdjMat/B-A_Model_AdjMat_N1000_D16.0_p0.0_m8_N0_8.png
LateX/presentation/Pres_7.9/Plots/5_B-A_Model_16.5_done/p0.0/AdjMat/B-A_Model_AdjMat_N1000_D19.0_p0.0_m10_N0_10.png
LateX/presentation/Pres_7.9/Plots/5_B-A_Model_16.5_done/p0.0/AdjMat/B-A_Model_AdjMat_N1000_D23.0_p0.0_m12_N0_12.png
LateX/presentation/Pres_7.9/Plots/5_B-A_Model_16.5_done/p0.0/AdjMat/B-A_Model_AdjMat_N1000_D27.0_p0.0_m14_N0_14.png
LateX/presentation/Pres_7.9/Plots/5_B-A_Model_16.5_done/p0.0/AdjMat/B-A_Model_AdjMat_N1000_D30.0_p0.0_m16_N0_16.png
LateX/presentation/Pres_7.9/Plots/5_B-A_Model_16.5_done/p0.0/AdjMat/B-A_Model_AdjMat_N1000_D31.0_p0.0_m16_N0_16.png
LateX/presentation/Pres_7.9/Plots/5_B-A_Model_16.5_done/p0.0/SIR/BAmodp0_1.png
LateX/presentation/Pres_7.9/Plots/5_B-A_Model_16.5_done/p0.0/SIR/BAmodp0_2.png
LateX/presentation/Pres_7.9/Plots/5_B-A_Model_16.5_done/p0.0/SIR/BAmodp0_3.png
LateX/presentation/Pres_7.9/Plots/BPres_30.09/AppendixThurner.png
LateX/presentation/Pres_7.9/Plots/BPres_30.09/Curvatura_Issue.png
LateX/presentation/Pres_7.9/Plots/BPres_30.09/Curvature_graph_network pdf.png
LateX/presentation/Pres_7.9/Plots/BPres_30.09/FrontWave.png
LateX/presentation/Pres_7.9/Plots/BPres_30.09/NNO_Conf_Model_addE_True_ordp_p0.0_beta0.015_mu0.07.png
LateX/presentation/Pres_7.9/Plots/BPres_30.09/NNO_Conf_Model_addE_True_ordp_p0.0_beta0.015_mu0.25.png
LateX/presentation/Pres_7.9/Plots/BPres_30.09/WS_Pruned_SIR_R0_3_N1000_D30.0_p0.0_beta0.007_d14.0.png
LateX/presentation/Pres_7.9/Plots/BPres_30.09/NNO_1inf/Caveman_Model_SIR_R0_1_N999_D3.0_p0.0_beta0.015_d14.0.png
LateX/presentation/Pres_7.9/Plots/BPres_30.09/NNO_1inf/NNO_Conf_Model_SIR_R0_2_N1000_D8.0_p0.3_beta0.015_d14.0.png
LateX/presentation/Pres_7.9/Plots/BPres_30.09/NNO_1inf/NNO_Conf_Model_SIR_R0_2_N1000_D11.0_p0.0_beta0.015_d14.0.png
LateX/presentation/Pres_7.9/Plots/BPres_30.09/NNO_1inf/NNO_Conf_Model_SIR_R0_6_N1000_D27.0_p0.0_beta0.015_d14.0.png
LateX/presentation/Pres_7.9/Plots/Fixed_Plots/Conf_Mod_3.png
LateX/presentation/Pres_7.9/Plots/Fixed_Plots/LayOut.png
LateX/presentation/Pres_7.9/Plots/Fixed_Plots/NNR_Conf_Model_AdjMat_N1000_D117.0_p0.0.png
LateX/presentation/Pres_7.9/Plots/Fixed_Plots/Overlapping_Rew_Add_True_AdjMat_N1000_D123.0_p0.0.png
LateX/presentation/Pres_7.9/Plots/Fixed_Plots/SIR_R0_2.597_N1000_D7_p0.1_beta0.143_mu0.385.png
LateX/presentation/Pres_7.9/Plots/Fixed_Plots/SIR_R0_2.597_N1000_D15_p0.1_beta0.067_mu0.385.png
LateX/presentation/Pres_7.9/Plots/Fixed_Plots/WS_Pruned_AdjMat_N1000_D500.0_p0.0.png
LateX/presentation/Pres_7.9/Plots/Fixed_Plots/WS_SW.png
LateX/presentation/Pres_7.9/Plots/Intro/COVID-RealStates_2020-03-25.png
LateX/presentation/Pres_7.9/Plots/NewPlots/BA_Model/AdjMat/BA_AdjMat-1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/BA_Model/AdjMat/BA_AdjMat-2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/BA_Model/Gifs/BA_SIR-1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/BA_Model/Gifs/BA_SIR-2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/BA_Model/Gifs/BA_SIR-3.png
LateX/presentation/Pres_7.9/Plots/NewPlots/BA_Model/Ordp/BA_Ordp-1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/BA_Model/Ordp/BA_Ordp-2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/CavemanModel/AdjMat/CMMod_AdjMat-1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/CavemanModel/AdjMat/CMMod_AdjMat-2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/CavemanModel/Gifs/CMod_SIR-1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/CavemanModel/Gifs/CMod_SIR-2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/CavemanModel/Gifs/CMod_SIR-3.png
LateX/presentation/Pres_7.9/Plots/NewPlots/CavemanModel/Gifs/CMod_SIR-4.png
LateX/presentation/Pres_7.9/Plots/NewPlots/CavemanModel/Gifs/CMod_SIR-5.png
LateX/presentation/Pres_7.9/Plots/NewPlots/CavemanModel/Gifs/CMod_SIR-6.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OPSW/NNO_Conf_Model_addE_True_AdjMat_1000_50.0_0.0.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OPSW/Gifs/OPSW-1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OPSW/Gifs/OPSW-2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OPSW/Gifs/OPSW-3.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OPSW/Gifs/OPSW-4.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OPSW/Gifs/OPSW-5.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OrdP/OParameter-1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OrdP/OParameter-2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OrdP/OParameter-3.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OrdP/OParameter-4.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/SPSW/NN_Conf_Model_AdjMat_1000_49.0_0.0.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/SPSW/Gifs/SPSW-1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/SPSW/Gifs/SPSW-2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/SPSW/Gifs/SPSW-3.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/SPSW/Gifs/SPSW-4.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/SPSW/Gifs/SPSW-5.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/SPSW/Gifs/SPSW-6.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Pruned/AdjMat/WS_Pruned_AdjMat_1000_30.0_0.1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Pruned/AdjMat/WS_Pruned_AdjMat_1000_500.0_0.3.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Pruned/Gifs/WS_Pruned/WS_Pruned_1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Pruned/Gifs/WS_Pruned/WS_Pruned_2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Pruned/Gifs/WS_Pruned/WS_Pruned_3.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Pruned/Gifs/WS_Pruned_p0.3/WS_Pruned_p0.3_1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Pruned/Gifs/WS_Pruned_p0.3/WS_Pruned_p0.3_2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Pruned/Gifs/WS_Pruned_p0.3/WS_Pruned_p0.3_3.png
LateX/presentation/Pres_7.9/Plots/Ordp/ordp_p0.0_beta0.2_mu0.2.png
LateX/presentation/Pres_7.9/Plots/Ordp/ordp_p0.0_beta0.05_mu0.2.png
LateX/presentation/Pres_7.9/Plots/Ordp/ordp_p0.1_beta0.2_mu0.2.png
LateX/presentation/Pres_7.9/Plots/Ordp/ordp_p0.1_beta0.05_mu0.2.png
LateX/presentation/Pres_7.9/Plots/Ordp/ordp_p0.2_beta0.2_mu0.2.png
LateX/presentation/Pres_7.9/Plots/Ordp/ordp_p0.2_beta0.05_mu0.25.png
LateX/presentation/Pres_7.9/Plots/Ordp/ordp_p0.3_beta0.05_mu0.25.png
LateX/presentation/Pres_7.9/Plots/Ordp/ordp_p0.3_beta0.25_mu0.25.png
LateX/presentation/Pres_7.9/Plots/R0_4.0/WS_Pruned_SIR_R0_4.0_N1000_D2.0_p0.0_beta0.5_mu0.25.png
LateX/presentation/Pres_7.9/Plots/R0_4.0/WS_Pruned_SIR_R0_4.0_N1000_D6.0_p0.0_beta0.167_mu0.25.png
LateX/presentation/Pres_7.9/Plots/R0_4.0/WS_Pruned_SIR_R0_4.0_N1000_D14.0_p0.0_beta0.071_mu0.25.png
LateX/presentation/Pres_7.9/Plots/R0_4.0/WS_Pruned_SIR_R0_4.0_N1000_D30.0_p0.0_beta0.033_mu0.25.png
LateX/presentation/Pres_7.9/Plots/R0_4.0/WS_Pruned_SIR_R0_4.0_N1000_D62.0_p0.0_beta0.016_mu0.25.png
LateX/presentation/Pres_7.9/Plots/R0_4.0/WS_Pruned_SIR_R0_4.0_N1000_D124.0_p0.0_beta0.008_mu0.25.png
LateX/presentation/Pres_7.9/Plots/R0_4.0/WS_Pruned_SIR_R0_4.0_N1000_D250.0_p0.0_beta0.004_mu0.25.png
LateX/presentation/Pres_7.9/Plots/R0_4.0/WS_Pruned_SIR_R0_4.0_N1000_D500.0_p0.0_beta0.002_mu0.25.png
LateX/presentation/Pres_7.9/CS_Pres_7.9.aux
LateX/presentation/Pres_7.9/CS_Pres_7.9.fdb_latexmk
LateX/presentation/Pres_7.9/CS_Pres_7.9.fls
LateX/presentation/Pres_7.9/CS_Pres_7.9.nav
LateX/presentation/Pres_7.9/CS_Pres_7.9.out
LateX/presentation/Pres_7.9/CS_Pres_7.9.snm
LateX/presentation/Pres_7.9/CS_Pres_7.9.synctex.gz
LateX/presentation/Pres_7.9/CS_Pres_7.9.toc
LateX/presentation/Pres_7.9/Pres_16.6.pdf
LateX/presentation/Pres_7.9/Plots/NewPlots/BA_Model/AdjMat/BA_Model_AdjMat_1000_28.0_0.0_14_14.png
LateX/presentation/Pres_7.9/Plots/NewPlots/BA_Model/Gifs/BA_1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/BA_Model/Gifs/BA_2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/BA_Model/Gifs/BA_3.png
LateX/presentation/Pres_7.9/Plots/NewPlots/BA_Model/Ordp/BA_Ordp_1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/BA_Model/Ordp/BA_Ordp_2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/CavemanModel/AdjMat/Caveman_Model_AdjMat_999_3.2_0.3.png
LateX/presentation/Pres_7.9/Plots/NewPlots/CavemanModel/AdjMat/Caveman_Model.png
LateX/presentation/Pres_7.9/Plots/NewPlots/CavemanModel/Gifs/CM_1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/CavemanModel/Gifs/CM_2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/CavemanModel/Gifs/CM_3.png
LateX/presentation/Pres_7.9/Plots/NewPlots/CavemanModel/Gifs/CM_4.png
LateX/presentation/Pres_7.9/Plots/NewPlots/Miscellanea/Erdoes_Renyi_Graph.png
LateX/presentation/Pres_7.9/Plots/NewPlots/Miscellanea/fuse_model.pdf
LateX/presentation/Pres_7.9/Plots/NewPlots/Motivations/COVID-RealStates_2020-02-25.png
LateX/presentation/Pres_7.9/Plots/NewPlots/NetworksExhibition/Barabasi_Albert_Model.png
LateX/presentation/Pres_7.9/Plots/NewPlots/NetworksExhibition/Caveman_Model.png
LateX/presentation/Pres_7.9/Plots/NewPlots/NetworksExhibition/Complete_Graph.png
LateX/presentation/Pres_7.9/Plots/NewPlots/NetworksExhibition/Erdoes_Renyi_Graph.png
LateX/presentation/Pres_7.9/Plots/NewPlots/NetworksExhibition/loop_graph.jpg
LateX/presentation/Pres_7.9/Plots/NewPlots/NetworksExhibition/loop.graphml
LateX/presentation/Pres_7.9/Plots/NewPlots/NetworksExhibition/NN_Conf_Model_AdjMat_1000_21.0_0.0.png
LateX/presentation/Pres_7.9/Plots/NewPlots/NetworksExhibition/NNO_Conf_Model_AdjMat_1000_25.0_0.0.png
LateX/presentation/Pres_7.9/Plots/NewPlots/NetworksExhibition/Overlapping_PSW.png
LateX/presentation/Pres_7.9/Plots/NewPlots/NetworksExhibition/Sparse_PSW.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OPSW/NN_Conf_Model_AdjMat_1000_21.0_0.0.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OPSW/NNO_Conf_Model_AdjMat_1000_25.0_0.0.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OPSW/Gifs/OPSW_1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OPSW/Gifs/OPSW_2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OPSW/Gifs/OPSW_3.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OPSW/Gifs/OPSW_4.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OrdP/NNO_Conf_Model_ordp_p0.0_beta0.015_d4.0.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OrdP/NNO_Conf_Model_ordp_p0.0_beta0.015_d14.0.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OrdP/NNO_Conf_Model_ordp_p0.3_beta0.015_d4.0.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OrdP/NNO_Conf_Model_ordp_p0.3_beta0.015_d14.0.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Epids/WS_Epids_p0_1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Epids/WS_Epids_p0_2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Epids/WS_Epids_p0_3.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Epids/p0.3/WS_Epids_p0.3_1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Epids/p0.3/WS_Epids_p0.3_2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Pruned/AdjMat/WS_Pruned_AdjMat_1000_500.0_0.0.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Pruned/Gifs/WS_Pruned/WS_Pruned_p0_1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Pruned/Gifs/WS_Pruned/WS_Pruned_p0_2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Pruned/Gifs/WS_Pruned/WS_Pruned_p0_3.png
BackStage_Code/new_stats.txt
BackStage_Code/__init__.py
BackStage_Code/stats.txt
BackStage_Code/subs_lr_edges.py
LateX/presentation/Pres_7.9/Plots/NewPlots/unipd_logo.png
LateX/presentation/Pres_7.9/Plots/NewPlots/CavemanModel/AdjMat/CM_AdjMat_1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/CavemanModel/AdjMat/CM_AdjMat_2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/NetworksExhibition/Barabasi_Albert_Model_new.png
LateX/presentation/Pres_7.9/Plots/NewPlots/NetworksExhibition/Overlapping_PSW_new.png
LateX/presentation/Pres_7.9/Plots/NewPlots/NetworksExhibition/Regular Lattice.png
LateX/presentation/Pres_7.9/Plots/NewPlots/NetworksExhibition/Regular-Lattice_N22_D6_p0.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OPSW/Gifs/OPSW_5.png
LateX/presentation/Pres_7.9/Plots/NewPlots/PoissSW/OPSW/Gifs/OPSW_6.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Epids/WS_Epids_1.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Epids/WS_Epids_2.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Epids/WS_Epids_3.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Epids/WS_Epids_4.png
LateX/presentation/Pres_7.9/Plots/NewPlots/WS_Epids/WS_Epids_5.png
immediate_trial.py
stats.txt
LateX/presentation/Pres_7.9/CS_Pres_playground.pdf
LateX/presentation/Pres_7.9/CS_Pres_playground.synctex.gz
LateX/full-text/Complex_Spread_Full_2.10_8:43.pdf
LateX/full-text/Complex_Spread_Full_7.10.pdf
LateX/full-text/Complex_Spread_Full_08.10.pdf
LateX/full-text/Milocco_Riccardo_10.10
LateX/full-text/Milocco_Riccardo.pdf
LateX/full-text/Old_Ver_To_Check/After_end_document_7.9.21.tex
LateX/full-text/Old_Ver_To_Check/Complex_Spread_Full.fdb_latexmk
LateX/full-text/Old_Ver_To_Check/Complex_Spread_Full.fls
